<div class="home-banner">
  <div class="container">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <%= link_to "Show me", cocktails_path, class: "btn btn-sm btn-outline-secondary text-white" %>
  </div>
</div>
