<h1>List</h1>

<div class="list-group">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>
