<article>
  <h1><%= @cocktail.name %></h1>
</article>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <%= link_to "List", cocktails_path, class: "btn btn-sm btn-outline-secondary" %>
</div>
