<nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to "Cocktails", '/', class: "navbar-brand" %>
  <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-sm btn-outline-secondary" %>
</nav>
